.side-menu-wrap { display: inline-block;width: 180px;padding: 10px;overflow: auto;color: rgba(255, 255, 255, 0.7);}
.side-menu-wrap .layui-tree li i,
.side-menu-wrap a {color: rgba(255, 255, 255, 0.7);}

.layui-elem-quote .layui-breadcrumb { line-height: 1;}
.layui-nav .layui-nav-item .side-menu-wrap a {display: inline-block;padding-left: 0;}
.layui-nav .layui-nav-item .side-menu-wrap .layui-icon {margin-top: 2px;}
.layui-nav-tree .layui-nav-child .side-menu-wrap a {line-height: 30px;height: 30px;}

.sjxx-wrap {padding: 10px 0;color: #333;}
.sjxx-wrap i {font-style: normal;font-size: 1.1em;}

.layui-elem-quote {padding: 12px 15px;}

.summary-title h5 {font-weight: normal;font-size: 1em;border-left: 2px solid #009688;text-indent: 8px;margin-bottom: 10px;}

.summary-apply-wrap {width: 100%;margin-bottom: 30px;}
.summary-apply-wrap td {height: 80px;border: 1px solid #E2E2E2;background-color: #f5f5f5;vertical-align: middle;text-align: center;}
.summary-apply-wrap .sm-qty {font-size: 2em;color: #FF5722;margin-left: 5px;}

.summary-detail-box {border: 1px solid #E2E2E2;margin-bottom: 30px;}
.summary-detail-box .box-title-bar {background: #f9f9f9;height: 36px;line-height: 36px;}
.summary-detail-box .box-title-bar .pl {margin-left: 14px;}
.summary-detail-box .box-title-bar .pr {float: right;margin-right: 14px;}
.summary-detail-box .box-content {height: 60px;padding: 15px;}
.summary-detail-box .box-content a {margin-bottom: 5px;margin-left: 0;margin-right: 10px;}




/* Login */
#page-login body::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(./../images/blur-bg.jpg) center center no-repeat;
        background-size: cover;
        will-change: transform;
        z-index: -1;
}
#page-login .bgLoginColor {
    background-color: transparent;
}
#page-login .login-icon {
    display: none;
}
#page-login .login-screen {
    background-color: transparent;
    min-height: 473px;
    padding: 50px 50px 33px 50px;
}
#page-login .login-form {
    background: rgba(0,0,0,.55);
    padding: 40px 40px 20px;
}
#page-login .login-field-icon {
    display: none;
}
#page-login .login-field {
    background-color: rgba(0,0,0,.4);
    color: #fff;
    font-size: 14px;
}
#page-login .login-field:focus {
    border-width: 1px;
}
#page-login h2 {
    font-weight: 300;
    margin-left: 0 !important;
}
#page-login .login {
    position: static;
    padding: 50px 0 0 0;
    margin: 0 auto;
    width: 500px;
}
#page-login #submit {
    margin-top: 30px !important;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 130px !important;
}